@use "../config/config.sass.scss" as *;

h1 {
  font-family: $font-family;
}

h2 {
  font-family: $font-family;
}

h3 {
  font-family: $font-family;
}

h4 {
  font-family: $font-family;
}

p {
  font-family: $font-family;
}

a {
  color: $links;
  text-decoration: none;
}

body {
  background-color: $background-color;
  color: $font-color;
  text-align: center;
  position: relative;
  margin-top: 80px;
}

.dark-mode {
  background-color: $background-color-dark;
  color: $font-color-dark;
  
  a {
    color: $links-dark;
  }
}

.dark-mode a {
  columns: red;
}

.hidden {
  display: none;
}

/* RESPONSIVE */

/* Smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .background-main {
    padding: 12px 12px 64px 12px; 
  }
  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .background-main {
    padding: 12px 24px 64px 24px; 
  }
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .background-main {
    padding: 12px 36px 64px 36px; 
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .background-main {
    padding: 24px 70px 64px 70px; 
  }
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .background-main {
    padding: 24px 100px 64px 100px; 
  }
  
}

