// Variables
$toggle-switch: #d4a373;
$toggle-switch-dark: #19328a;

$background-color: #fefae0;
$background-color-dark: #1B2733;

$font-color: #1B2733;
$font-color-dark: #fefae0;

$links: #1B2733;
$links-dark: #fefae0;

$card-background-dark: #27323E;
$card-background: #faedcd;

// Fonts
@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap';
$font-family: 'Roboto', sans-serif;
