/* Variables */
$toggle-switch: #d4a373;
$toggle-switch-dark: #19328a;

$background-color: #fefae0;
$background-color-dark: #1B2733;

$font-color: #1B2733;
$font-color-dark: #fefae0;
$links: #ff8966;
$links-dark: #ff8966;

$font-family: 'Roboto', sans-serif;

$card-background-dark: #27323E;
$card-background: #faedcd;


